Source: libicns
Priority: extra
Maintainer: Mathew Eis <mathew@eisbox.net>
Build-Depends: debhelper (>= 6), autotools-dev
Standards-Version: 3.7.3
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: libicns-dev
Section: libdevel
Architecture: any
Depends: libicnsBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libicnsBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
