Source: libicns
Priority: optional
Maintainer: Mathew Eis <mathew@eisbox.net>
Build-Depends: debhelper (>= 6), autotools-dev, libpng12-dev, libjasper-dev, libjpeg62-dev
Standards-Version: 3.8.3
Section: libs
Homepage: http://icns.sourceforge.net/

Package: libicns-dev
Section: libdevel
Architecture: any
Depends: libicns1 (= ${binary:Version}), ${misc:Depends}
Description: libicns development files
 libicns is a library for manipulation of
 the Mac OS icns resource format, also known as the IconFamily
 resource type. It can read and write files for the Mac OS X icns
 format, as well as read from Mac OS resource files and macbinary
 encoded Mac OS resource forks.
 .
 This package contains development files (static libraries and headers)
 needed to build software using libicns.

Package: libicns1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for manipulation of the Mac OS icns format
 libicns is a library for manipulation of the Mac OS icns resource
 format, also known as the IconFamily resource type. It can read
 and write files for the Mac OS X icns format, as well as read from
 Mac OS resource files and macbinary encoded Mac OS resource forks.
 
Package: icnsutils
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utilities for manipulating Mac OS icns files
 icnsutils includes icns2png and png2icns, two utilies used to
 extract PNG images from icns files, and create icns files from
 PNG images.

